.w-70-p {
  width: 70%;
}
.w-28-p {
  width: 28%;
}
.w-65-p {
  width: 65%;
}
.w-33-p {
  width: 33%;
}

.w-100-p {
  width: 100%;
}

.w-98-p {
  width: 98%;
}
.w-25-p {
  width: 25%;
}

.basket-and-item{
  display: inline-block;
}
